---
- hosts: chroots
  gather_facts: no
  remote_user: root
  connection: chroot


  vars_files:
    - playbooks/private/credentials.yaml
  vars:
    default_language: en_US
    default_encoding: UTF-8
    default_hostname: arch
    time_zone: Europe
    time_subzone: London


  tasks:
  - name: Prepare configuration
    block:
      - command: echo "{{default_hostname}}" > /etc/hostname
      - file:
          src: "/usr/share/zoneinfo/{{time_zone}}/{{time_subzone}}"
          dest: /etc/localtime
          state: link
      - lineinfile:
          path: /etc/locale.gen
          regexp: "#{{default_language}}.{{default_encoding}} {{default_encoding}}"
          line: "{{default_language}}.{{default_encoding}} {{default_encoding}}"
      - command: locale-gen
      - copy: content="LANG={{default_language}}.{{default_encoding}}" dest=/etc/locale.conf

  - name: Prepare services
    block:
      # - systemd: enabled=yes name=gdm.service
      # - systemd: enabled=yes name=NetworkManager.service
      - file:
          src: /usr/lib/systemd/system/gdm.service
          dest: /etc/systemd/system/display-manager.service
          state: link

  - name: Prepare users
    block:
      - user:
          name: "{{username}}"
          password: "{{password}}"
          shell: /bin/bash
          group: users
          groups: wheel,storage,power
      - lineinfile:
          path: /etc/sudoers
          state: present
          regexp: "# %wheel ALL=(ALL) ALL"
          line: "%wheel ALL=(ALL) ALL"
